<DemoViewer
    @cameraPosition={{hash x=0 y=0 z=2}}
    @cameraLookAt={{hash x=0 y=0 z=0}}
    @controlDef={{this.controlDef}}
    @onSceneInsert={{this.onSceneInsert}}
    @onControlChanged={{this.onControlChanged}}
/>
<div class='absolute w-full h-full pointer-events-none'>
    <div class='absolute bottom-1 left-1 text-4l'><KatexSpan @content={{this.rectangular}}>{{this.rectangular}}</KatexSpan></div>
</div>