<div class='absolute demo-viewer w-full h-full top-0 left-0 {{if (or this.isFullscreen this.args.isFullSize) 'fullscreen'}}'
    {{show-fullscreen isFullscreen=this.isFullscreen onFullscreenChange=this.onFullscreenChange}}
    {{visibility-detector container=this.container onEnter=this.onEnter onLeave=this.onLeave}}
    {{did-insert this.onDidInsert}}
    >
    <div class='flex flex-col h-full'>
        <div class='relative scene-container {{if this.isFullscreen 'h-full'}} {{if this.showEditor "h-2/3 m-4 mb-2" "h-full" }}'>
            <Scene
                @container={{this.container}}
                @cameraPosition={{@cameraPosition}}
                @cameraLookAt={{@cameraLookAt}}
                @onSceneInsert={{action this.onSceneInsert}}
                @hdr={{@hdr}}
                @hasLights={{hasLights}}
            as |parent|>
                {{yield parent}}
            </Scene>
            <div class='scene-controls absolute  top-0 left-0 w-full h-full'>
                {{#if this.isFullscreen}}
                    {{#if this.isFullscreenEnabled}}
                        <div class='control absolute bottom-1 right-1 cursor-pointer' {{on 'click' this.onExitFullscreen}}>
                            <svg class='text-white' width="1.5rem" height="1.5em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M8 3v3a2 2 0 0 1-2 2H3m18 0h-3a2 2 0 0 1-2-2V3m0 18v-3a2 2 0 0 1 2-2h3M3 16h3a2 2 0 0 1 2 2v3"></path>
                            </svg>
                        </div>
                    {{/if}}
                {{else}}
                    {{#if this.isFullscreenEnabled}}
                    <div class='control absolute bottom-1 right-1 cursor-pointer' {{on 'click' this.onEnterFullscreen}}>
                    <svg class='text-white' fill='currentColor' width="1.5rem" height="1.5rem" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                       <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Outlined" transform="translate(-173.000000, -3481.000000)">
                                <g id="Navigation" transform="translate(100.000000, 3378.000000)">
                                    <g id="Outlined-/-Navigation-/-fullscreen" transform="translate(68.000000, 98.000000)">
                                        <g>
                                            <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                                            <path d="M7,14 L5,14 L5,19 L10,19 L10,17 L7,17 L7,14 Z M5,10 L7,10 L7,7 L10,7 L10,5 L5,5 L5,10 Z M17,17 L14,17 L14,19 L19,19 L19,14 L17,14 L17,17 Z M14,5 L14,7 L17,7 L17,10 L19,10 L19,5 L14,5 Z" id="🔹-Icon-Color" fill="#ffffff"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    </div>
                    {{/if}}
                {{/if}}
                <div class='control absolute flex bottom-1 left-1'>
                    {{#if hasAnimation}}
                        {{#if isPlaying}}
                            <div class='control cursor-pointer' {{on 'click' this.onPause}}>
                                <svg class='text-white' fill='currentColor' xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 28 42">
                                    <g>
                                        <rect width="10" height="42" rx="3" ry="3"/>
                                        <rect x="18" width="10" height="42" rx="3" ry="3"/>
                                    </g>
                                </svg>
                            </div>
                        {{else}}
                        <div class='control cursor-pointer' {{on 'click' this.onPlay}}>
                            <svg width="30px" height="30px" viewBox="0 0 11 14">
                                <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Rounded" transform="translate(-753.000000, -955.000000)">
                                        <g id="AV" transform="translate(100.000000, 852.000000)">
                                            <g id="-Round-/-AV-/-play_arrow" transform="translate(646.000000, 98.000000)">
                                                <g>
                                                    <path d="M7,6.82 L7,17.18 C7,17.97 7.87,18.45 8.54,18.02 L16.68,12.84 C17.3,12.45 17.3,11.55 16.68,11.15 L8.54,5.98 C7.87,5.55 7,6.03 7,6.82 Z" fill="#ffffff"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        {{/if}}
                    {{/if}}
                    <SvgIcon @name='light' width='30px' height='30px' class='control cursor-pointer {{if hasLights 'text-white' 'text-black'}}' {{on 'click' this.toggleLights}}/>
                </div>
            </div>
        </div>
        {{#if this.showEditor }}
            <div class='flex flex-col demo-editor-wrapper h-1/3 m-4 mt-2'>
                <div class='inline-flex file-tabs ml-14 text-gray-400'>
                    {{#if this.enabledEditors.scene}}
                        <div class='rounded-t-md mx-0.5 px-2 cursor-pointer {{if (eq this.currentTab 'scene') 'text-gray-800 bg-gray-400' 'bg-gray-800'}}' {{on 'click' (fn this.onEditorTab 'scene')}}>Scene</div>
                    {{/if}}
                    {{#if this.enabledEditors.vertex}}
                        <div class='rounded-t-md mx-0.5 px-2 cursor-pointer {{if (eq this.currentTab 'vertex') 'text-gray-800 bg-gray-400' 'bg-gray-800'}}' {{on 'click' (fn this.onEditorTab 'vertex')}}>Vertex Shader</div>
                    {{/if}}
                    {{#if this.enabledEditors.fragment}}
                        <div class='rounded-t-md mx-0.5 px-2 cursor-pointer {{if (eq this.currentTab 'fragment') 'text-gray-800 bg-gray-400' 'bg-gray-800'}}' {{on 'click' (fn this.onEditorTab 'fragment')}}>Fragment Shader</div>
                    {{/if}}
                </div>
                <EmberAce
                    class='demo-editor'
                    @useSoftTabs=true
                    @tabSize=4
                    @printMarginColumn=120
                    @theme="ace/theme/monokai"
                    @mode={{if (eq this.currentTab 'scene') "ace/mode/javascript"}}
                    @value={{get this.editorValue this.currentTab}}
                    @update={{this.onEditorUpdated}}
                />
            </div>
        {{/if}}
    </div>
</div>