{{page-title "Test"}}
<AceEditor />
<div class='scene-container'>
    <Scene 
        @cameraPosition={{hash x=0 y=10 z=0}}
        @cameraLookAt={{hash x=0 y=0 z=0}}
    as |parent|>
        <SceneObject @parent={{parent}} @type='GridHelper' @constructorProps={{array 100 100 0x3486eb}} />
    </Scene>

</div>